<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8">
	 </head>
	<body>
		<form method="GET" action="/services/z_server/getmsg">
	<input type="text" class="form-control login-field" value="" placeholder="User" id="User"  name="User"/>
	<input type="text" class="form-control login-field" value="" placeholder="NayamiUser" id="NayamiUser"  name="NayamiUser"/>
	<input type="text" class="form-control login-field" value="" placeholder="NayamiStr" id="NayamiStr"  name="NayamiStr"/>
	<input type="text" class="form-control login-field" value="" placeholder="zizo_id" id="zizo_id"  name="zizo_id"/>
</form>
	</body>
</html>
